@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');

body, html {
  font-family: 'Roboto Condensed',Helvetica,sans-serif;
  margin: 0;
  padding: 0;
  font-size: large;
}

/***** MAIN START *****/
main {
  display: flex;
  flex-direction: column;
  min-height: 100vh
}

section {
  display: flex;
  flex-direction: column;
}

/***** MAIN END *****/

/***** TAB START ****/

.tab-content {
  display: none;
  flex-direction: row;
  width: 100%;
  height: 100%;
  flex: 1;
}
 
.tab-link {
  background-color: #555;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 0px;
  width: 16%;
  font-family: 'Roboto Condensed',Helvetica,sans-serif;
  font-size: x-large;
  
}

#tabs-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  margin: .25em 0;
}

#tab-button-dungeon {
  background-color: #376241;
  color: #FFFFFF;
}

#tab-button-quest {
  background-color: #154865;
  color: #FFFFFF;
}

#tab-button-encounter {
  background-color: #503875;
}

#tab-button-oracle {
  background-color: #5D5704;
  color: #FFFFFF;
}

#tab-button-portent {
  background-color: #804000;
  color: #FFFFFF;
}

#tab-button-about {
  background-color: #8b0000;
  color: #FFFFFF;
}



/***** TAB END ****/

/***** SHARED START *****/

.button-column {
  width: 25%;
}

.content-column {
  width: 100%;
}

.roll-button, .roll-modifier-wrapper {
  padding: .25em;
  text-align: center;
  font-size: x-large;
  margin: .25em;
  background-color: white;
  font-family: 'Roboto Condensed',Helvetica,sans-serif;
  border: 3px solid black;
}

.content-label {
  font-size: x-large;
  padding: .25em;
}

.content-result {
  padding: .25em;
  background-color: #FFFFFF;
}

.content-wrapper {
  margin: .25em;
  border: black 3px solid;
  width: auto;
}

.modifier-input {
  text-align: center;
  font-size: large;
  width: 50%;
  border: pink 1px solid;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

@media (max-width: 1024px) {

  .roll-button, .roll-modifier-wrapper {
    font-size: medium;
  }

  .modifier-input {
    font-size: medium;
    width: 95%;
  }

  .tab-link {
    padding: 14px 0;
    font-size: medium;
  }

}

/***** SHARED END *****/

/***** DUNGEON START *****/


#tab-dungeon .roll-button, #tab-dungeon .roll-modifier-wrapper {
  border-color: #376241;
  color: #376241;
}

#tab-dungeon .roll-button:hover, #tab-dungeon .roll-modifier-wrapper:hover {
  background-color: #376241;
  color: #FFFFFF;
}

#tab-dungeon .content-wrapper {
  border-color: #376241;
}

.dungeon-content-label {
  background-color: #bee9c2;
  color: #376241;
}

#dungeon-content-modifier {
  border-color: #376241;
}

/***** DUNGEON END *****/

/***** QUEST START *****/

#tab-quest .roll-button {
  border-color: #154865; /*#C4E1F2*/
  color: #154865;
}

#tab-quest .roll-button:hover {
  background-color: #154865;
  color: #FFFFFF;
}

#tab-quest .content-wrapper {
  border-color: #154865;
}

#tab-quest .content-label {
  
  background-color: #C4E1F2;
  color: #154865;
  
}

/***** QUEST END *****/

/***** ENCOUNTER START *****/

#tab-encounter .roll-button {
  border-color: #503875;
  color: #503875;
}

#tab-encounter .roll-button:hover {
  background-color: #503875;
  color: #FFFFFF;
}

#tab-encounter .content-wrapper {
  border-color: #503875;
}

#tab-encounter .content-label {
  background-color: #E4D9ED;
  color: #503875;
}

.encounter-modifier {
  border-color: #503875;
}

/***** ENCOUNTER END *****/

/***** ORACLE START *****/

#tab-oracle .roll-button,  #tab-oracle .roll-modifier-wrapper {
  border-color: #5D5704;
  color: #5D5704;
}

#tab-oracle .roll-button:hover, #tab-oracle .roll-modifier-wrapper:hover {
  background-color: #5D5704;
  color: #FFFFFF;
}

#tab-oracle .content-wrapper {
  border-color: #5D5704;
}

#tab-oracle .content-label {
  background-color: #FCFCBF;
  color: #5D5704;
}

.oracle-modifier {
  border-color: #5D5704;
}


/***** ORACLE END *****/

/***** PORTENT START *****/

#tab-portent .roll-button, #tab-portent .roll-modifier-wrapper {
  border-color: #804000;
  color: #804000;
}

#tab-portent .roll-button:hover, #tab-portent .roll-modifier-wrapper:hover, #tab-portent .toggle-selected {
  background-color: #804000;
  color: #FFFFFF;
}

#tab-portent .content-wrapper {
  border-color: #804000;
}

#tab-portent .content-label {
  background-color: #FFEEE5;
  color: #804000;
}

.portent-modifier {
  border-color: #804000;
}

/***** PORTENT END *****/

/***** ABOUT START *****/

#tab-about .roll-button {
  border-color: #8b0000; /*#C4E1F2*/
  color: #8b0000;
}

#tab-about .content-wrapper {
  border-color: #8b0000;
  width: auto;
}

#tab-about .content-label {
  background-color: #ffeded;
  color: #8b0000;
}

#tab-about .button-column {
  width: 0%;
}

/***** ABOUT END *****/