@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');

body, html {
  font-family: 'Roboto Condensed',Helvetica,sans-serif;
  margin: 0;
  padding: 0;
  font-size: large;
}

/***** MAIN START *****/
main {
  display: flex;
  flex-direction: column;
  min-height: 100vh
}

section {
  display: flex;
  flex-direction: column;
}

/***** MAIN END *****/

/***** TAB START ****/

.tab-content {
  display: none;
  flex-direction: row;
  width: 100%;
  height: 100%;
  flex: 1;
}

.tab-link {
  background-color: #555;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  width: 50%;
  font-family: 'Roboto Condensed',Helvetica,sans-serif;
  font-size: x-large;
  
}

#tabs-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#tab-button-dungeon {
  background-color: #376241;
  color: #FFFFFF;
}

#tab-button-quest {
  background-color: #8b0000;
  color: #FFFFFF;
}

/***** TAB END ****/

/***** SHARED START *****/

.roll-button {
  padding: .25em;
  text-align: center;
  font-size: x-large;
  margin: .25em;
  background-color: white;
  font-family: 'Roboto Condensed',Helvetica,sans-serif;
}

@media (max-width: 1024px) {

  .roll-button {
    font-size: large;
  }  
}

/***** SHARED END *****/

/***** DUNGEON START *****/
.dungeon-button {
  border: 3px solid #376241;
  color: #376241;
}

.dungeon-button:hover {
  background-color: #376241;
  color: #FFFFFF;
}

.dungeon-content-wrapper {
  margin: .25em;
  border: #376241 3px solid;
  width: 98%;
}

.dungeon-content-label {
  font-size: x-large;
  background-color: #bee9c2;
  color: #376241;
  padding: .25em;
}

.dungeon-content-result {
  padding: .25em;
  background-color: #FFFFFF;
}

#dungeon-modifier-wrapper {
  margin: .25em;
  border: #376241 3px solid;
  text-align: center;
  color: #376241;
  padding: .25em;
}

#dungeon-modifier {
  text-align: center;
  border: #376241 1px solid;
  font-size: large;
  width: 50%;
}

/***** DUNGEON END *****/

/***** QUEST START *****/

.quest-button {
  border: 3px solid #8b0000;
  color: #8b0000;
}

.quest-button:hover {
  background-color: #8b0000;
  color: #FFFFFF;
}

.quest-content-wrapper {
  margin: .25em;
  border: #8b0000 3px solid;
  width: 98%;
}

.quest-content-label {
  font-size: x-large;
  background-color: #ffeded;
  color: #8b0000;
  padding: .25em;
}

.quest-content-result {
  padding: .25em;
  background-color: #FFFFFF;
}

/***** QUEST END *****/

#button-column {
  width: 25%;
}

#content-column {
  width: 100%;
}